/* Header */
header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 64px;
}

p {
  font-weight: 700;
}

/* Main */
main {
  min-height: 100dvh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -64px;
}

/* Counter */
.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  place-items: center;
  background-color: #e0e0e0;
  width: 100%;
}

.counter span {
  font-size: 5rem;
  font-weight: 600;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.neumorphic-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #eaeaea;
  box-shadow: 2px 2px 4px #d1d1d1, -1px -1px 3px #f5f5f5;
  font-size: 2rem;
  font-weight: 600;
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease;
 }

.neumorphic-btn:active {
  box-shadow: inset 1px 1px 2px #d1d1d1, inset -1px -1px 2px #f5f5f5;
}

.neumorphic-display {
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: #eaeaea;
  border-radius: 8px;
  box-shadow: inset 1px 1px 2px #d1d1d1, inset -1px -1px 2px #f5f5f5;
}

/* Greeting */

.list-title {
  text-align: left;
  width: 100%;
  font-size: 2rem;
  margin: 20px 0 10px 0;
}

.greeting-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #eaeaea;
  border-radius: 8px;
  box-shadow: inset 1px 1px 2px #d1d1d1, inset -1px -1px 2px #f5f5f5;
}

.neumorphic-greeting {
  font-size: 1.2rem;
  color: #555;
  text-align: left;
  padding: 12px 20px;
  transition: all 0.15s ease;
}

.neumorphic-greeting:hover {
  color: #535bf2;
}
